/*
* @Author: qianlu
* @Date:   2016-11-14 15:22:26
* @Last Modified by:   qianlu
* @Last Modified time: 2016-11-14 15:42:27
*/
body,html,p,div{margin: 0;padding: 0}
.bgColor {
    background: #f0f0f0;
    color: #999;
    .hello{
    	color: #000;
    	font-size: 26px
    }
}